*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main-color: #c8d1af;
  --bg-dark-color: #325956;
  --text-color-main: #577270;
  --text-color-light: #f1e6e1;
  --text-color-mid: #668280;
  --text-color-dark: #325956;
  --button-color-dark: #325956;
  --button-color-hover-light: #4f7c78;
  --button-color-hover-dark: #223f3c;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 992px) {
    padding: 0 40px;
  }
  @media (min-width: 1280px) {
    padding: 0 15px;
  }
}
